.cardWrapper {
  margin-block: 10px;
}

.card {
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #ffb854;
  font-size: 18px;
  font-weight: 600;
}

.spinner {
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #ffb854;
}
