.navbar {
  background-color: #030303;
}

.navbarBrand {
  color: #ffb854 !important;
  font-size: 30px;
  font-weight: 800;
  font-family: Verdana, sans-serif;
}

@media (min-width: 1199.98px) {
  .linkWrapper {
    display: flex;
    justify-content: flex-end;
  }
}
.navLink {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none !important;
  margin-right: 40px;
  cursor: pointer;
}
.navLink:hover {
  font-weight: 700;
}

.btnLogin {
  color: black !important;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffb854 !important;
  border: none;
  padding: 5px;
  min-width: 100px;
}

.btnLogin:hover {
  color: black !important;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffac37 !important;
  border: none;
  padding: 5px;
  min-width: 100px;
}

.dropdown {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none !important;
  margin-right: 40px;
  background-color: transparent !important;
}
.dropdown:hover {
  font-weight: 700;
}
